.cardHeader {
    text-align: left;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
}

.cardParagraph {
    text-align: left;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
}

.cardStuff {
    display: inline-block;
    width: 50%;
    padding: 200px 0;
}


.cardImage {
    display: inline-block;
    width: 30%;
    border: 4px black inset;
    float: left;
    margin-right: 100px;
}

.cards {
    margin: 20px;
}


@media (min-width: 320px) {
    .cards {
        margin-left: 0;
    }
    .card-deck {
        justify-content: inherit;
    }
    .cardImage {
        float: left;
        display: inline-block;
        width: 80%;
        border: 4px black inset;
        margin-left: auto;
    } 
    .cardStuff {
        display: inline-block;
        width: 80%;
        padding: 10px 0;
    }
    .cardHeader {
        display: inline-block;
        text-align: left;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
    .cardParagraph {
        text-align: left;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
}

  /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (min-width: 480px) {
        .cards {
            margin-left: 0;
        }
        .card-deck {
            justify-content: inherit;
        }
        .cardImage {
            float: left;
            display: inline-block;
            width: 50%;
            border: 4px black inset;
        } 
        .cardStuff {
            display: inline-block;
            width: 50%;
            padding: 10px 0;
        }
        .cardHeader {
            display: inline-block;
            text-align: left;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        
        .cardParagraph {
            text-align: left;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 500;
        }

}

  @media (min-width: 600px) {
    .cardHeader {
        text-align: left;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
    .cardParagraph {
        text-align: left;
        font-family: 'Barlow', sans-serif;
        font-size: 13px;
        font-weight: 500;
        padding: 0;
    }
    
    .cardStuff {
        display: inline-block;
        width: 40%;
        padding: 10px 0;
        
    }
    .cardImage {
        display: inline-block;
        width: 40%;
        border: 4px black inset;
        float: left;
    }
    
} 
  /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) {
        .card-deck{
            margin-right:  10px;
        }
        .cardHeader {
            text-align: left;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        
        .cardParagraph {
            text-align: left;
            font-family: 'Barlow', sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
        
        .cardStuff {
            display: inline-block;
            width: 50%;
            padding: 20px 0;
            
        }
        
        .cardImage {
            display: inline-block;
            width: 30%;
            border: 4px black inset;
            float: left;
            
        }
        
        .cards {
            margin: 10px;
        }
    
  }  
  /*  Large devices (laptops/desktops, 992px and up) */
    @media (min-width: 1024px) {
        .cardStuff {
            display: inline-block;
            width: 50%;
            padding: 70px 0;
            
        }

  } 
  @media (min-width: 1200px) { 
    .cardHeader {
        text-align: left;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 28px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
    .cardParagraph {
        text-align: left;
        font-family: 'Barlow', sans-serif;
        font-size: 24px;
        font-weight: 500;
    }
    
    .cardStuff {
        display: inline-block;
        width: 60%;
        padding: 10% 0;
    }
    
    
    .cardImage {
        display: inline-block;
        width: 30%;
        border: 4px black inset;
        float: left;
    }
    
    .cards {
        margin: 20px;
    }

}



