.cardHeader {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.cardParagraph {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.cardText {
    margin: auto;
}

.cardDeck {
    display: flex;
    justify-content: center;
}


.cardImage {
    width: 40%;
    float: left;
    margin-right: 35px;
}

.cards {
    margin: 30px;
}