
.resume, .skills {
    margin-left: 10px;
    margin-top: 35px;
}

.resumeTitle, .companyName, .description, .jobTitle, .duration {
    color: white;
    margin-left: 15px;
}

.resumePage {
    background-color:black;
}

.resumeTitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700;
    color:black;
    background-color: white;
    padding: 5px 7px 5px 7px;
}

.companyName {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
}

.description {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
    line-height: 25px;
    text-align: left;
    margin: 3px 15px 10px;

}

.duration {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 15px;
}

.skillList {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: left;
}

.fa-ul {
    padding-left: 0;
}

.fab {
    color: white;
    margin-right: 6px;
}

.jqueryLogo {
    width: 25px;
    margin-right: 5px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.restApiLogo {
    width: 25px;
    margin-right: 5px;
    background-color: black;
}

.jsonLogo {
    width: 21px;
    margin-right: 7px;
    background-color: black;
}

.expressLogo {
    width: 25px;
    margin-right: 5px;
    background-color: black;
}

.herokuLogo {
    width: 25px;
    margin-right: 3px;
    background-color: black;
    padding-right: 3px;
}

.mysqlLogo {
    width: 30px;
    margin-right: 2px;
    background-color: black;
    padding-right: 5px;
}

.sql {
    padding-right: 0px;
}

.mongoDBLogo {
    width: 30px;
    margin-right: 3px;
    background-color: black;
    padding-right: 5px;
}

@media (min-width: 320px) {
    .resumeTitle{
        font-size: 15px;
    }

    .companyName{
        font-size: 15px;
    }
    .description{
        font-size: 14px;
    }
    .duration{
        font-size: 12px;
    }
    .jobTitle{
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .resumeTitle{
        font-size: 35px;
    }
    .companyName{
        font-size: 30px;
    }
    .description{
        font-size: 20px;
    }
}

