.homeTextDiv {
    display: inline-block;
    position: absolute;
    top: 270px;
    left: 750px;
    width: 150%;
}

.homeText {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
    line-height: 40px;
    text-align: left;
    padding-top: 25px;
    
}


.homeTitle {
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    position: relative;
    top:220px;
    left:715px;
}

@media only screen and (max-width: 600px) {
    .homeTextDiv {position: relative;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .homeTextDiv {position: relative;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .homeTextDiv {position: relative;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .homeTextDiv {position: relative;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .homeTextDiv {position: relative;}
  }