
.backgroundImg {  
  background: url(../../BackgroundImages/indexphoto.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  background-color: black;
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}

.homeCard-body{
  margin-left: 35%;
}

.homeTextDiv {
    display: inline-block;
    top: 225px;
    width: 50%;
}

.homeText {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
    line-height: 40px;
    text-align: left;
    padding-top: 25px;
}

.homeTitle {
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
}

    @media (min-width: 320px) {
    .backgroundImg {border-radius: inherit;
                background-position: left;
    }
    .homeCard-body {margin-left: 10%;
                    margin-top: 145px;
    }
    .homeTextDiv {text-align: left;
                  width: 100%; 
    }
    .homeTitle {font-size: 16px;
      text-align: center;

    }
    .homeText {font-size: 15px;
                line-height: 25px;}
  }
  
  @media (min-width: 374px) {
    .homeWrapper{
      min-height: 100vh;
    }
    .backgroundImg {
      background-position: left;
      border-radius: inherit;
      height:240vh;
  }
}
  /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (min-width: 480px) {
      
      .backgroundImg {
                  background-position: left center;
                height:210vh;
    }
    .homeCard-body {margin-left: 5%;
                margin-top: 200px;
    }
    .homeTextDiv {text-align: left;
              width: 100%; 
    }
    .homeTitle {font-size: 25px;
      text-align: center;

    }
    .homeText {font-size: 20px;
            line-height: 25px;}
  } 

  @media only screen and (min-width: 600px) {
    
    .backgroundImg {
                background-position: left center;
                height:250vh;
  }
  .homeCard-body {
    margin-left: 10%;
    margin-top: 250px;
  }
  .homeTextDiv {text-align: left;
            width: 90%; 
  }
  .homeTitle {font-size: 28px;
    text-align: center;

  }
  .homeText {font-size: 24px;
          line-height: 40px;}
} 
  
  /* Medium devices (landscape tablets, 768px and up) */
    @media (min-width: 768px) {
      
.backgroundImg {
                background-position: left center;
                height:250vh;
}
.homeCard-body{
  margin-left: 10%;
  margin-top: 150px;
}
.homeTextDiv {
  top: 205px;
  width: 90%;
}
.homeTitle {
  font-size: 28px;
  text-align: center;

}
.homeText {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 600;
}
    
  }  
  
  /*  Large devices (laptops/desktops, 992px and up) */
    @media (min-width: 1024px) {
      
      .backgroundImg {
        background-position: center left;
      }
      .homeCard-body{
        margin-left: 5%;
        margin-top: 300px;
      }
      .homeTextDiv {
        width: 90%;
      }
      .homeTitle {
        font-size: 30px;
        text-align: center;
      
      }
      .homeText {
        font-size: 20px;
        line-height: 35px;
      }
  }  
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media(min-width: 1200px) {
      
      .backgroundImg {
                background-position: top center;
                height:280vh;

      }
      .homeCard-body{
        margin-left: 35%;
        margin-top: 10px;
      }
      .homeTextDiv {
        padding-top: 55px;
        width: 90%;
      }
      .homeTitle {
        font-size: 40px;
      
      }
      .homeText {
        font-size: 23px;
        line-height: 40px;
        letter-spacing: 2px;
        font-weight: 600;
      }
  }  