.homeText {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.cardTitle {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
}