.navbar {
    padding: 20px;
    top: 0;
    z-index: 2;
}

.nav-item {
    margin: 20px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
}

.navbar-brand {
    position: fixed;
    top: 0;
    left: 0;
}


.nav-logo {
    margin-left: 40px;
    margin-top: 20px;
    height: 50px;
}

.nav-item:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.navbar__link--active {
    background-color: black;
    color: white;
    outline: 5px ridge black;
    padding-left: 2px;
    padding-right: 2px;
}

.navbar-nav {
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
}


